@font-face {
  font-family: cyberpunk;
  src: url(../css/font/Cyberpunk.otf);
  src: url(../css/font/Cyberpunk.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#showcase{
  width: 40%;
  float: left;
  background: url("https://i.pinimg.com/originals/8c/69/41/8c6941594c4fc8401528992a0b1eacc2.gif");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-color: #111;

}

.register {
  width: 60%;
  float: left;
  background:#000;
  height: 650px;
}

header {
  padding: 20px 50px;
  padding-top: 35vh;
}

header h1 {
  font-family: "cyberpunk", "arial";
  text-align: center;
  font-size: 3rem;
  color: rgb(235, 220, 14);
  text-shadow: 5px 7px purple;
}

 .tekst {
  background: #111;
  color: rgb(235, 220, 14);
  font-family: "cyberpunk";
  text-align: center;
  padding: 40px 30px;
}

.register h2 {
  padding: 100px 50px;
  font-weight: 900;
  font-family: "cyberpunk";
  color: rgb(235, 220, 14);
  background-color: #111;
  text-shadow: 2px 4px purple;
}

.left,
.right {
  width: 50%;
  float: left;
  padding: 20px 20px;
  font-size: 1.5rem;
  font-family: "cyberpunk";
  color: rgb(235, 220, 14);
  text-shadow: 3px 2px purple;
  
}

.right div {
  margin-bottom: 30px;
}

.left div {
  margin-bottom: 30px;
}

input {
  font-size: 1.3rem;
  border-radius: 3px;
  border: 1px solid;
  color: #000;
  background: #555;

}

input:hover {
background: rgb(235, 220, 14);
box-shadow: 7px 3px purple;
border: purple;
}

footer {
  background: #111;
  padding-bottom: 5px;
  height: 85.5vh;
}

.btn {
  padding: 30px 50px;
}

button {
  background: rgb(235, 220, 14);
  padding: 15px 30px;
  margin: 50px 50px;
  font-family: "cyberpunk";
  border-radius: 10px;
  border: none;
}

button:hover {
  box-shadow: 10px 5px purple;
}